@charset "utf-8";
.clerkInfo { padding: 30px 0; text-align:center; border-bottom:1px solid #4b77be;}
.sex { width:15px; height:15px; display: inline-block; background: url(http://gsm.wanmagps.com/images/sex-i.png) no-repeat 0 0;vertical-align:middle;margin-left:5px;}
.female { background-position: 0 0;  }
.male { background-position: 0 -20px;}
a.addAvatar { width:100px; height:100px; display:block; float:right; border-radius:50%; background:#999; text-align:center; color:#fff; line-height:30px;}
a.addAvatar .add_txt { color:#fff;}
a.addAvatar .filePrew_img { height:100%;}
a.addAvatar .add_txt { font-size:60px; display:block; margin:20px 0 10px;}
.dotPanel{ border:1px dashed #4b77be; padding:5px 10px; display:inline-block; line-height:18px;}
.chartBox { width:800px; padding:20px; background:#fff; box-shadow:0 0 4px rgba(0,0,0,0.2); margin:40px auto 10px;}
